html, body {
    height: 100%;
    width: 100%;
}

.title {
    width: 60%;
    max-width: 60%;
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 1;
}

.title h1 {
    color: white;
    font-size: 54pt;
}

.title h2 {
    color: white;
    font-size: 36pt;
}

.title h3 {
    color: #FFF2CC;
    font-size: 24pt;
}

.title h4 {
    color: #FFF2CC;
    font-size: 18pt;
}

.title h5 {
    color: #FFF2CC;
    font-size: 16pt;
}

.title a {
    color: white;
}

.btn {
    border-width: 2px;
    border-radius: 2;
    padding: .5rem 1.1rem;
    text-shadow: none !important;
}

#home {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/background.jpg") no-repeat center center fixed;
    height: 100%;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

/* .padding {
    padding: 10px 0px;
}

.padding h1 {
    padding: 50px 0px 20px 0;
    font-size: 48px;
}

.heading {
    text-align: center;
}

.description {
    font-size: larger;
}

h3 a,
h3 a:hover {
    color: black;
}

.card {
    margin-bottom: 2rem;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

@media (max-width: 1280px){
    .card-img-top {
        width: 100%;
        height: 45vh;
        object-fit: cover;
    }
}

footer {
    width: 100%;
    background-color: black;
    padding: 5% 5% 5% 5%;
    color: #fff;
}

.fa {
    padding: 15px 5px;
    font-size: 25px;
    color: #fff;
}

.fa-heart {
    font-size: 1em;
}

.fa:hover {
    color: #d5d5d5;
    text-decoration: none;
} */

/*IOS Landing Page Fix*/
.landing {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    background:black;
    z-index: -1;
}

.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}